:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1677ff;
  --primary-hover: #4096ff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Antd global overrides */
.ant-btn-primary {
  background-color: var(--primary);
}

.ant-btn-primary:hover {
  background-color: var(--primary-hover) !important;
}

.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 0.2s ease;
}

.ant-form-item-explain-error {
  font-size: 13px;
  margin-top: 4px;
}